body {
  background-color: #121212;
  font-family: "Courier New", Courier, monospace;
}
h1,
h4 {
  text-align: center;
  color: palegoldenrod;
}
img {
  height: 400px;
  width: 500px;
  margin: 0 750px;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  display: inline-block;
  color: red;
  margin: 50px;
}

p {
  margin: 50px 50px;
  color: rosybrown;
  width: fit-content;
}
a {
  color: red;
  text-decoration: none;
}
.recipes-list {
  margin: 50px auto;
  font-size: 32px;
}
